controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

diff_drive_controller:
  ros__parameters:
    left_wheel_names: ["back_left_wheel_joint"]
    right_wheel_names: ["back_right_wheel_joint"]
    wheel_separation: 0.7985
    wheel_radius: 0.15
    publish_rate: 50.0
    odom_frame_id: odom
    base_frame_id: base_link
    use_stamped_vel: false
